[user]
	email = <TODO>
	name = Waters
[alias]
	gla = log --graph --decorate --all
	glo = log --graph --decorate --all --oneline
	glv = log --graph --decorate --all --name-only
	subup = submodule update --init --recursive
[core]
	autocrlf = true
[push]
	default = current
[pull]
	default = current
